---
layout: page
title: "About Me"
description: "Hey, this is Mavis."
header-img: "img/博客背景.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <p>我是一名计算机技术专业的硕士研究生，目前就读于武汉大学测绘遥感信息工程国家重点实验室(LIESMARS)。</p>
	<br>
	<heading> <strong>项目经历</strong> </heading>
	<br>
	<strong>天基信息实时服务系统（国家自然科学基金项目）</strong> 
    <br>
    为解决卫星影像数据量大，传输延迟的问题，开发从数据获取到应用终端分钟级延时的高效影像智能传输服务。为地面站、大数据中心、遥控遥测中心等提供信息传输中继功能。
    <br>
    该系统现已部署于珞珈三号预研卫星通信传输测试系统。
	<br>
	
	<strong>应急响应智能传输服务（国家重点研发课题）</strong>
    <br>
	针对公网阻断、应急信息不能实时可靠传输问题，构建异构通信网络，提出异构网络融合方法及QoS保障机制，保障海量应急响应数据的实时可靠传输。
	<br>
	对无人机路由协议GPSR进行改进，实现应急场景下传输延迟与网络丢包率的较大改善。
	<br>
	提出非实时操作系统下的可变粒度的速率控制算法，目前正在专利申请流程中。
	<br>
	
	<strong>人脸识别考勤APP</strong>
    <br>
    针对目前传统签到模式中存在的签到耗时长、签到人员难以准确实时统计等问题，设计开发的一款以Android系统平台为依托，结合人脸识别技术的在线签到软件，为用户提供实时、便捷的高精度智能化新型签到模式。      
    <br>
	
	<strong>长安大学“阳光之旅”延安支教</strong>
    <br>
    组织并参加长安大学2016年暑假“阳光之旅”支教活动，进入延安市李渠镇第二中心小学开展教育调研、教学实践等工作，在实践中体会到教师职业的神圣与高尚，也坚定了我要成为一名优秀教师的决心。
    <br>
	
	<strong>学生成绩管理分析系统</strong> 
    <br>
    学生成绩信息管理分析系统可以有效记录学生的综合成绩，并且能够以学生或者班级为单位进行单科或综合成绩分析，及时追踪学生的学习动态以及班级的授课质量。
    <br>
	
	
	
	<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tbody>
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
          <tr style="padding:0px">
            <td style="padding:2.5%;width:63%;vertical-align:middle">
              <p style="font: 30px/1 Tahoma,Helvetica,Arial,\5b8b\4f53,sans-serif;text-align:center">Wenjing Zhang 张文静</p>
              <!-- <p style="text-align:center">
                <name>Baichuan Huang</name>
              </p> -->
              <p>
				我是一名计算机技术专业的硕士研究生，目前就读于武汉大学测绘遥感信息工程国家重点实验室(LIESMARS)。
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <a href="/img/zwj.jpg"><img style="width:60%;max-width:60%" alt="profile photo" src="/img/zwj.jpg" class="hoverZoomLink"></a>
            </td>
          </tr>
        </tbody></table>
		
		
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
            <tr>
            <td style="padding:20px;width:100%;vertical-align:middle">
              <heading> <strong>项目经历</strong> </heading>
            </td>
          </tr>
        </tbody></table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
          
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle">
              <img style="width:100%;max-width:100%" src="/img/tianji.png" alt="space" class="hoverZoomLink">
            </td>
            <td style="padding:20px;width:75%;vertical-align:middle">
              <br>
              <strong>天基信息实时服务系统（国家自然科学基金项目）</strong> 
              <br>
			  为解决卫星影像数据量大，传输延迟的问题，开发从数据获取到应用终端分钟级延时的高效影像智能传输服务。为地面站、大数据中心、遥控遥测中心等提供信息传输中继功能。
              <br>
			  该系统现已部署于珞珈三号预研卫星通信传输测试系统。
            </td>
        </tr>



          <tr>
              <td style="padding:2.5%;width:25%;vertical-align:middle">
                <img style="width:100%;max-width:100%" src="/img/yingji.png" alt="Emergency" class="hoverZoomLink">
              </td>
              <td style="padding:20px;width:75%;vertical-align:middle">
                <strong>应急响应智能传输服务（国家重点研发课题）</strong>
                <br>
				针对公网阻断、应急信息不能实时可靠传输问题，构建异构通信网络，提出异构网络融合方法及QoS保障机制，保障海量应急响应数据的实时可靠传输。
				<br>
				对无人机路由协议GPSR进行改进，实现应急场景下传输延迟与网络丢包率的较大改善。
				<br>
				提出非实时操作系统下的可变粒度的速率控制算法，目前正在专利申请流程中。
              </td>
          </tr>

          <tr>
              <td style="padding:2.5%;width:25%;vertical-align:middle">
                <img style="width:100%;max-width:100%" src="/img/face.png" alt="BLE Localziation" class="hoverZoomLink">
              </td>
              <td style="padding:20px;width:75%;vertical-align:middle">
                <strong>人脸识别考勤APP</strong>
                <br>
                针对目前传统签到模式中存在的签到耗时长、签到人员难以准确实时统计等问题，设计开发的一款以Android系统平台为依托，结合人脸识别技术的在线签到软件，为用户提供实时、便捷的高精度智能化新型签到模式。      
              </td>
          </tr>

          <tr>
              <td style="padding:2.5%;width:25%;vertical-align:middle">
                <img style="width:100%;max-width:100%" src="/img/zhijiao.png" alt="AOA" class="hoverZoomLink">
              </td>
              <td style="padding:20px;width:75%;vertical-align:middle">
			  <strong>长安大学“阳光之旅”延安支教</strong>
                <br>
                组织并参加长安大学2016年暑假“阳光之旅”支教活动，进入延安市李渠镇第二中心小学开展教育调研、教学实践等工作，在实践中体会到教师职业的神圣与高尚，也坚定了我要成为一名优秀教师的决心。
              </td>
          </tr>


          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle">
              <img style="width:100%;max-width:100%" src="/img/student.png" alt="Student" class="hoverZoomLink">
            </td>
            <td style="padding:20px;width:75%;vertical-align:middle">
              <strong>学生成绩管理分析系统</strong> 
              <br>
              学生成绩信息管理分析系统可以有效记录学生的综合成绩，并且能够以学生或者班级为单位进行单科或综合成绩分析，及时追踪学生的学习动态以及班级的授课质量。
            </td>
          </tr>


        </tbody></table>


        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
          <tr>
          <td style="padding:20px;width:100%;vertical-align:middle">
            <heading> <strong>荣誉奖励</strong> </heading>
            <p>
            国家励志奖学金*2<br>
            三好学生<br>
			优秀学业奖学金<br>
            </p>
          </td>
        </tr>
		
		
		<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
          <tr>
          <td style="padding:20px;width:100%;vertical-align:middle">
            <heading><strong>竞赛经历</strong></heading>
            <p>
			长安大学本科生数学建模竞赛二等奖<br>
            全国大学生数学建模竞赛二等奖<br>
            美国大学生数学建模竞赛M奖<br>
			北斗杯全国青少年科创比赛三等奖<br>
            </p>
          </td>
        </tr>
      </tbody></table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
            <tr>
            <td style="padding:20px;width:100%;vertical-align:middle">
              <heading>Others</heading>
              <p>
			         I have a WeChat Official Account <a href="images/Wechat.jpg">Baichuan_share</a> and <a href="https://www.zhihu.com/people/huangbaichuanwhu/activities">Zhihu</a>
              </p>
            </td>
          </tr>
        </tbody></table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
            <tr>
              <td style="padding:0px;width=10%">
                <br>
                  <p align="center">
                      <a href="https://clustrmaps.com/site/1b1dn" title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=rRKtZAtiUb9bmp_jnWDAjAViRzPo_H6qMW84vWt4wiE&cl=ffffff"></a>			  </p>
                  <p></p>
              </td>
            </tr>
          </tbody></table>

          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
            <tr>
              <td style="padding:0px">
                <br>
                <p style="text-align:right;font-size:small;">
                  Last update: Sep 2020. / <a href="https://github.com/jonbarron/jonbarron_website">Thanks for the template</a>.
                </p>
              </td>
            </tr>
          </tbody></table>

      </td>
    </tr>
  </table>
  
</body>

<!--     <p>这是我的利用 <a href="https://pages.github.com/">GitHub Pages</a> 与 <a href="http://jekyll.com.cn/">Jekyll</a> 搭建的 个人博客。我在GitHub主页<a href="https://github.com/qiubaiying">👉GitHub·BY</a> 与 简书主页<a href="https://http://www.jianshu.com/u/e71990ada2fd">👉BY</a>。如果有什么问题，欢迎提出探讨~</p> -->

<!--     <p></p> -->
    
<!--     <h5>Talks</h5> -->
<!--  -->
<!--     <ul> -->
<!--         <li><a href="https://github.com">GitHub</a></li> -->
<!--         <li><a href="http://jekyll.com.cn/">jekyll</a></li> -->
<!--         <li><a href="http://huangxuan.me/">Hux</a></li>  -->
<!--         <li><a href="https://analytics.google.com/analytics">Google Analytics</a></li> -->
<!--     </ul> -->
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>
    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>
    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>
    <h5>Talks</h5>
    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}